@font-face { 
    font-family: "dolphin"; // Los cuerpos de texto en las noticias
    src: url("../fonts/Dolphin.ttf") format('truetype');
}

$hover-menu: #fff;
$end-news: #fff;
$ticket-bogota: rgba(88,165,7,0.8);
$ticket-colombia: rgba(220,0,0,0.8);
$ticket-mundo: #448500;
$menu: #F2F2F2;
$font-logo: dolphin, sans-serif;

