section.editorial {

    background-color: #F2F2F2;
    div.title {
        background-color: white;
        padding-bottom: 27px;
        h1 {
            background-color: white;
            font-family: $font-title;
            display: flex;
            justify-content: flex-start;
            max-width: 1204px;
            padding-left: 70px;
            margin: 0 auto;
            font-size: 30px;
            font-weight: bold;
            color: #979797;
            line-height: 36px;
            height: 45px;
            position: relative;
            &::after {
                content: "";
                background-color: #D5D5D5;
                width: 570px;
                height: 3px;
                position: absolute;
                top: 41px;
            }
        }
    }
    section.columns {
        justify-content: center;
        margin: 0 auto;
        max-width: 1204px;
        .important {
            max-width: 629px;
            p.date {
                color: #227BB5;
            }
            p.title {
                font-family: $font-title;
                font-size: 25px;
                line-height: 26px;
            }
        }
        .last-news {
            max-width: 450px;
            article {
                padding-top: 22px;
                padding-bottom: 17px;
                border-bottom: 1px solid #979797;
                p.date {
                    color: #227BB5;
                }
                p.title {
                    font-family: $font-title;
                    font-size: 25px;
                }
                &:first-child {
                    padding-top: 0px;
                }
                &:last-child {
                    border-bottom: 0px;
                }
            }
        }
    }
}