section.editorial {

    background-color: #F2F2F2;
    div.title {
        background-color: white;
        padding-bottom: 27px;
        h1 {
            background-color: white;
            font-family: $font-title;
            display: flex;
            justify-content: flex-start;
            max-width: 1204px;
            padding-left: 70px;
            margin: 0 auto;
            font-size: 30px;
            font-weight: bold;
            color: #979797;
            line-height: 36px;
            height: 45px;
            position: relative;
            &::after {
                content: "";
                background-color: #D5D5D5;
                width: 570px;
                height: 3px;
                position: absolute;
                top: 41px;
            }
        }
    }
    section.columns {
        justify-content: center;
        margin: 0 auto;
        max-width: 978px;
        .important {
            max-width: 629px;
            margin-bottom: 13px;
            p.date {
                color: #227BB5;
            }
            p.title {
                font-family: $font-title;
                font-size: 25px;
                line-height: 26px;
                margin-bottom: 9px;
            }
        }
        .last-news {
            max-width: 450px;
            article {
                padding-top: 14px;
                padding-bottom: 17px;
                border-bottom: 1px solid #979797;
                padding-bottom: 13px;
                width: 449px;
                span.ticket, p.date {
                    display: inline-block;
                    margin-bottom: 12px;
                }
                span.ticket {
                    height: 26px;
                    width: 78px;
                    padding-left: 9px;
                    color: white;
                    &.opinion {
                        background-color: #6236FF;
                    }
                    &.editorial {
                        background-color: #E02020;
                    }
                }
                
                p.date {
                    color: #227BB5;
                }
                p.title {
                    font-size: 16px;
                    font-weight: bold;
                    font-family: Arial;
                    margin-bottom: 14px;
                }
                p.body {
                    font-size: 16px;
                    font-family: $font-title;
                    line-height: 20px;
                    color: #616060;
                }
                &:first-child {
                    padding-top: 0px;
                }
                &:last-child {
                    border-bottom: 0px;
                }
            }
        }
    }
}