@import 'config';

header {
    section.social {
        height: 47px;
        display: flex;
        justify-content: flex-end;
        max-width: 1087px;
        margin: 0 auto;
        div.buttons {
            width: 380px;
            height: 47px;
            border: 1px solid black;
            display: flex;
            justify-content: flex-end;    
            span {
                background: url(../../img/Lupa.png);
                width: 29px;
                height: 28px;
                background-size: cover;
            }    
        }
    }
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 89px;
    div.arquidiocesis-brand {
        background-image: url(../../img/Arq.png);
        background-size: contain;
        /* border: 1px solid; */
        background-repeat: no-repeat;
        /* margin-left: 151px; */
        position: relative;
        left: 151px;
        width: 158px;
    }
    div.sub-header {
        display: flex;
        justify-content: center;
        .catolicismo-brand {
            justify-content: center;
            .title {
                font-family: $font-logo;
                span#t1 {
                    font-size: 36px;
                    position: relative;
                    left: 108px;
                    top: -55px;
                }
                span#t2 {
                    font-size: 90px;
                }
            }
        }
        
    }
    nav {
        ul.menu-head {
            display: flex;
            list-style: none;
            justify-content: space-around;
            /* align-items: baseline; */
            padding-left: 0px;
            margin-top: -8px;
            align-items: center;
            margin-bottom: 0;
            height: 72px;
            width: 100%;
            background-color: #F2F2F2;
            li {
                color: #000000;
                font-family: Helvetica;
                font-size: 20px;
                text-align: center;
                flex: 1;
                max-width: 140px;
                
            }
        }
    }
    nav {
        background: #F2F2F2;
        width: 100%;
        ul.columns {
            max-width: 1204px;
            margin: 0 auto;
            padding: 0 20px;
            li {
                color: #000000;
                font-family: Helvetica;
                font-size: 20px;
                padding: 5px 35px;
                text-align: center;
                /* flex-grow: 0; */
                /* flex-basis: initial; */
                width: 100%;
                /* flex-wrap: wrap; */
                margin: 0 auto;
                /* vertical-align: middle; */
                display: flex;
                /* flex-wrap: wrap; */
                justify-content: center;
                align-items: center;
                a {
                    color: #000000;
                }
                &:hover {
                    background-color: #227BB5;
                    a {
                        color: $hover-menu;
                    }
                    
                }
            }
        }
    }
}